:root {
  --color-base: #666;
  --color-1: #6060f9;
  --color-2: #d4d4ff;
  --nav-width: 400px;
  --back-img-1: url("../res/back_1.jpg");
}

* {
  border: 0 none;
  box-sizing: border-box;
  margin: 0;
  outline: 0 none;
  padding: 0;
}

html,
body {
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #EEF2F4;
  padding: 2rem;
}

.box-shadow, .main, .tooltip {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.back-1, .main-nav::before {
  background-color: red;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.field-style, .main-nav-search-field-input, .main-nav-search-field-button {
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
}

.tooltip {
  padding: 1rem 1.2rem;
  position: absolute;
  background-color: white;
  border-radius: 0.5rem;
  color: var(--color-1);
}
.tooltip.top {
  width: calc(100% - 2rem);
  left: 50%;
  bottom: calc(100% + 0.5rem);
  transform: translate3d(-50%, 0, 0);
}
.tooltip.top::before {
  left: 50%;
  bottom: -0.25rem;
  transform: translate3d(-50%, 0, 0) rotateZ(45deg);
}
.tooltip.left {
  top: 50%;
  left: calc(100% + 0.5rem);
  transform: translate3d(0, -50%, 0);
}
.tooltip.left::before {
  top: 50%;
  left: -0.25rem;
  transform: translate3d(0, -50%, 0) rotateZ(45deg);
}
.tooltip.left span {
  white-space: pre;
}
.tooltip::before {
  background-color: white;
  content: "";
  position: absolute;
  transform-origin: 50%;
  width: 0.5rem;
  height: 0.5rem;
}
.tooltip span {
  display: block;
  text-align: left;
}
.tooltip span:not(:nth-child(1)) {
  opacity: 0.8;
  font-size: 0.8rem;
}
.tooltip p {
  margin-top: 1rem;
  min-width: 300px;
}

.cover {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000000b5;
  background-image: url("../res/presentacion.jpg");
  background-size: contain;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease 0s;
  will-change: transform, opacity;
}
.cover:not(.open) {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}
.cover.open + .cover-btn {
  top: 1rem;
  height: 4rem;
  width: 4rem;
}
.cover.open + .cover-btn::after, .cover.open + .cover-btn::before {
  visibility: visible;
}
.cover.open + .cover-btn span {
  visibility: hidden;
}

.cover-btn {
  height: 4rem;
  width: 8rem;
  overflow: hidden;
  position: fixed;
  top: calc(100% - 5rem);
  right: 1rem;
  z-index: 99999;
  background-color: var(--color-1);
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  will-change: top;
}
.cover-btn::after, .cover-btn::before {
  content: "";
  height: 2px;
  width: 40%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  visibility: hidden;
}
.cover-btn::after {
  transform: translate3d(-50%, 50%, 0) rotate(45deg);
}
.cover-btn::before {
  transform: translate3d(-50%, 50%, 0) rotate(-45deg);
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}
.main-nav {
  height: 100%;
  width: var(--nav-width);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-2);
}
.main-nav::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.15;
  filter: blur(30px);
}
.main-nav > * {
  position: relative;
  z-index: 1;
}
.main-nav-search {
  background-color: #ffffff75;
  border-radius: 1rem;
  padding: 1rem;
}
.main-nav-search-field {
  position: relative;
  text-align: center;
}
.main-nav-search-field:not(:first-of-type) {
  margin-top: 1rem;
}
.main-nav-search-field-button {
  background-color: var(--color-1);
  color: white;
}
.main-nav-search-field-input {
  width: 100%;
  background-color: white;
  text-align: right;
}
.main-nav-search-field-input:focus + .tooltip {
  display: block;
}
.main-nav-search-field-placeholder {
  display: none;
}
.main-nav-list {
  flex: 1;
  border-radius: 1rem;
  direction: rtl;
  list-style: none;
  padding: 2rem 0 1rem 1rem;
  text-align: left;
  overflow: auto;
}
.main-nav-list-item {
  background-color: white;
  color: var(--color-1);
  cursor: pointer;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem 1.2rem;
  position: relative;
  width: 100%;
}
.main-nav-list-item:not(:first-of-type) {
  margin-top: 1rem;
}
.main-nav-list-item:not(.open):hover {
  background-color: var(--color-2);
}
.main-nav-list-item:hover .tooltip {
  display: block;
}
.main-nav-list-item.open {
  background-color: var(--color-1);
  color: white;
}
.main-nav-list-item p {
  margin-top: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.main-nav-list-item-placeholder {
  display: none;
}
.main-view {
  height: 100%;
  width: calc(100% - var(--nav-width));
  position: absolute;
  top: 0;
  left: var(--nav-width);
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}
.main-view.open {
  background-color: var(--color-1);
}
.main-view-frame {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

/*# sourceMappingURL=index.css.map */
