:root {
    --color-base: #666;
    --color-1: #6060f9;
    --color-2: #d4d4ff;

    --nav-width: 400px;

    --back-img-1: url('../res/back_1.jpg');
}

* {
    border: 0 none;
    box-sizing: border-box;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

html
, body {
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #EEF2F4;
    padding: 2rem;
    // @extend .back-1;
}

.box-shadow {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
}

.back-1 {
    background-color: red;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.field-style {
    border-radius: .5rem;
    padding: .8rem 1rem;
}

.tooltip {
    $tooltip-width: .5rem;

    padding: 1rem 1.2rem;
    position: absolute;


    background-color: white;
    border-radius: .5rem;
    color: var(--color-1);

    @extend .box-shadow;

    &.top {
        width: calc(100% - 2rem);

        left: 50%;
        bottom: calc(100% + #{$tooltip-width});
        transform: translate3d(-50%, 0, 0);

        &::before {
            left: 50%;
            bottom: $tooltip-width / -2;
            transform: translate3d(-50%, 0, 0) rotateZ(45deg);
        }
    }

    &.left {
        top: 50%;
        left: calc(100% + #{$tooltip-width});
        transform: translate3d(0, -50%, 0);

        &::before {
            top: 50%;
            left: $tooltip-width / -2;
            transform: translate3d(0, -50%, 0) rotateZ(45deg);
        }

        span {
            white-space: pre;
        }
    }

    &::before {
        background-color: white;
        content: "";
        position: absolute;
        transform-origin: 50%;
        width: $tooltip-width;
        height: $tooltip-width;
    }

    span {
        display: block;
        text-align: left;

        &:not(:nth-child(1)) {
            opacity: .8;
            font-size: .8rem;
        }
    }

    p {
        margin-top: 1rem;
        min-width: 300px;
    }
}


.cover {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    background-color: #000000b5;
    background-image: url("../res/presentacion.jpg");
    background-size: contain;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;

    transition: all .5s ease 0s;
    will-change: transform, opacity;

    &:not(.open) {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }

    &.open {
        & + .cover-btn {
            top: 1rem;
            height: 4rem;
            width: 4rem;

            &::after
            , &::before {
                visibility: visible;
            }

            span {
                visibility: hidden;
            }
        }
    }
}

.cover-btn {
    height: 4rem;
    width: 8rem;
    overflow: hidden;


    position: fixed;
    top: calc(100% - 5rem);
    right: 1rem;
    z-index: 99999;

    background-color: var(--color-1);
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: all .5s ease 0s;
    will-change: top;

    &::after
    , &::before {
        content: "";
        height: 2px;
        width: 40%;
        background-color: white;

        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;

        visibility: hidden;
    }

    &::after {
        transform: translate3d(-50%, 50%, 0) rotate(45deg);
    }

    &::before {
        transform: translate3d(-50%, 50%, 0) rotate(-45deg);
    }
}

.main {
    height: 100%;
    width: 100%;
    // max-width: 1600px;
    @extend .box-shadow;

    position: relative;

    background-color: white;
    border-radius: 1rem;
    overflow: hidden;

    &-nav {
        height: 100%;
        width: var(--nav-width);

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;

        background-color: var(--color-2);

        &::before {
            content: "";
            height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;

            background-color: white;
            opacity: .15;
            filter: blur(30px);
            @extend .back-1;
        }

        & > * {
            position: relative;
            z-index: 1;
        }

        &-search {
            background-color: #ffffff75;
            border-radius: 1rem;

            padding: 1rem;

            &-field {
                position: relative;
                text-align: center;

                &:not(:first-of-type) {
                    margin-top: 1rem;
                }

                &-button {
                    background-color: var(--color-1);
                    color: white;
                    @extend .field-style;
                }

                &-input {
                    width: 100%;

                    background-color: white;
                    text-align: right;

                    @extend .field-style;

                    &:focus {
                        & + .tooltip{
                            display: block;
                        }
                    }
                }

                &-placeholder {
                    display: none;
                }
            }
        }

        &-list {
            flex: 1;

            border-radius: 1rem;
            direction: rtl;
            list-style: none;
            padding: 2rem 0 1rem 1rem;
            text-align: left;
            overflow: auto;

            &-item {
                background-color: white;
                color: var(--color-1);
                cursor: pointer;
                border-radius: 1rem 0 0 1rem;
                padding: 1rem 1.2rem;
                position: relative;
                width: 100%;

                &:not(:first-of-type) {
                    margin-top: 1rem;
                }

                &:not(.open):hover {
                    background-color: var(--color-2);
                }

                &:hover {
                    .tooltip {
                        display: block;
                    }
                }

                &.open {
                    background-color: var(--color-1);
                    color: white;
                }

                p {
                    margin-top: 1rem;
                    letter-spacing: 1px;
                    font-weight: 600;
                }

                &-placeholder {
                    display: none;
                }
            }
        }
    }

    &-view {
        height: 100%;
        width: calc(100% - var(--nav-width));

        position: absolute;
        top: 0;
        left: var(--nav-width);

        background-color: white;
        border-radius: 1rem;
        padding: 1rem;

        &.open {
            background-color: var(--color-1);
        }

        &-frame {
            height: 100%;
            width: 100%;

            border-radius: 1rem;
        }
    }
}
