<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bibloteca de tesis</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/index.css">
</head>
<body ng-app="appModule">
    <section class="main" ng-controller="appController">
        <nav class="main-nav">
            <form class="main-nav-search">
                <fieldset class="main-nav-search-field"><h2>Formulario de Consulta</h2></fieldset>
                <fieldset class="main-nav-search-field">
                    <input type="text" class="main-nav-search-field-input" placeholder="Titulo / Descripción" ng-keyup="$event.keyCode == 13 ? buscar() : null" ng-model="formData.descripcion"/>
                    <div class="main-nav-search-field-placeholder tooltip left">
                        <span>Titulo / Descripción</span>
                        <span>Escriba el titulo o palabras claves.</span>
                    </div>
                </fieldset>
                <fieldset class="main-nav-search-field">
                    <input type="text" class="main-nav-search-field-input" placeholder="Autores" ng-keyup="$event.keyCode == 13 ? buscar() : null" ng-model="formData.autor"/>
                    <div class="main-nav-search-field-placeholder tooltip left">
                        <span>Autores</span>
                        <span>Escriba los nombres de los autores.</span>
                    </div>
                </fieldset>
                <fieldset class="main-nav-search-field">
                    <input type="text" class="main-nav-search-field-input" placeholder="Identificador" ng-keyup="$event.keyCode == 13 ? buscar() : null" ng-model="formData.identificador"/>
                    <div class="main-nav-search-field-placeholder tooltip left">
                        <span>Identificador</span>
                        <span>Escriba si conoce el identificador asignado a la tesis.</span>
                    </div>
                </fieldset>
                <fieldset class="main-nav-search-field"><input type="button" class="main-nav-search-field-button" value="Consultar" ng-click="buscar()"></fieldset>
            </form>
            <ul class="main-nav-list">
                <li class="main-nav-list-item" ng-repeat="tesis in tesisList" ng-class="{open: tesis.open}" ng-click="abrirTesis(tesis)">
                    <h3>{{tesis.tesis_identificador}}</h3>
                    <h4>{{tesis.tesis_autor}}</h4>
                    <p>{{tesis.tesis_descripcion}}</p>
                </li>
            </ul>
        </nav>
        <div class="main-view" ng-class="{open: tesisObj.open}">
            <iframe class="main-view-frame" ng-src="{{tesisObj.documento}}" width="" height=""></iframe>
        </div>
        <div class="cover" ng-class="{open: coverOpen}"></div>
        <button class="cover-btn" ng-click="openCover()">
            <span>Acerca de</span>
        </button>
    </section>
    <script src="js/angularjs.min.js" charset="utf-8"></script>
    <script src="js/index.js" charset="utf-8"></script>
</body>
</html>
